<section id="projects" class="projects">
  <div class="section-title">
    <h2>Our Projects</h2>

    <p>Explore our latest premium construction projects.</p>
  </div>

  <div class="gallery">
    <div class="gallery-item">
      <img src="assets/images/project 1.jpg" alt="" />
    </div>

    <div class="gallery-item">
      <img src="assets/images/project 2.jpg" alt="" />
    </div>

    <div class="gallery-item tall">
      <img src="assets/images/project 3.jpg" alt="" />
    </div>

    <div class="gallery-item wide">
      <img src="assets/images/project 4.jpg" alt="" />
    </div>

    <!-- <div class="gallery-item">
      <img src="assets/images/project 5.jpg" alt="" />
    </div> -->
  </div>
</section>
